h1{
    color: aqua;
}
/*Quando é classe, usamos . */
.titulo2{
    color: rgb(0, 255, 13);
}

h4{
    text-align: center;
    cursor: cell;
    
}
p{
    color: blanchedalmond;
}

body {
    background-color: blueviolet;
}

#butao1{
    background-color: brown;
    border: none;
    color: yellow;
    margin: 4px;
    padding: 10px 15px ; 
    font-size: 20px;
    border-radius: 10px;
}

#butao1:hover {
    background-color: red;
    cursor: pointer;
}

/*Quando é id, usamos # */
#ImagemCrazyFrog{
    display: none;
    float: right;
}
#ImagemRecebaInteligencia{
    display: none;
}


.ExemplosDeBotao #simpleClick {
    background-color: black;
    color: aliceblue;
    border-radius: 50px;
}

.ExemplosDeBotao #twoClicks {
    border-radius: 5px;
    font-style: italic;
    padding: 10px;
}

.ExemplosDeBotao #pressButton {
    background-color: rgb(4, 255, 4);
    font-size: x-large;
}

.ExemplosDeBotao #soltarMouse {
    background-color: aqua;
    color: pink;
}

.ExemplosDeBotao #moveMouse {
    background-color: white;
    color: black;
}


.ExemplosDeBotao #mouseSobreBotao {
   top: auto;
   left: auto;
   position: absolute;
}

.ExemplosDeBotao button {
    margin: 20px;
    
}

.ExemplosDeBotao button:hover {
    color: purple;
}

.timeBtn {
    background-color: darkorange;
}